#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Hachidori
GenericName=Desktop Widget
Exec=~/.hachidori/Hachidori --disable-gpu --enable-transparent-visuals
Terminal=false
Icon=~/.hachidori/hachidori.png
StartupNotify=true
