@font-face { font-family: roboto; src: url('fonts/Roboto-Regular.ttf'); }

* {font-family: roboto}

body {
    background: rgba(0, 0, 0, 0);
}

html {
    background: rgba(0, 0, 0, 0);
    -webkit-app-region: drag;
}

font {
    font-size: 200;
    font-weight: 400;
}

button {
    -webkit-app-region: no-drag;
}:focus {
    outline: 0;
}

<<<<<<< HEAD
.right_col {
    float: right;
}
=======
input[type="color"]{
    height: 30pt;
    width: 30pt;
    border: none;
    margin: none;
}
>>>>>>> bf169cf5d1a4b12a5495471ab706a8d2461b29d5
